header {
  height: 20vh;
  display:flex;
  align-items: center;
  justify-content: center;
  @include tablet{
    justify-content:space-between;

  }
  @include desktop;

  .logo {
    background-color:$logo-background-color;
    padding:0.1em 0.3em;
    color:white;
    display:inline-block;
    border-radius: 5px;
    font-size: 3em;
    font-family: "Oleo Script" , cursive;
    letter-spacing: 0.05em;
    font-weight: 300;
  }

  .menu {
    display:none;
    @include tablet {
      display:flex;
    }
    .menu_item {
      padding: 0.5em 1em;
      margin: 0.5em 1em;
      background-color:$main-background-color;
      border-radius:0.5em;
    }
    .menu_item--featured {
      background-color: $main-font-color;
      color:white;
      a{
        color:white;
      }
    }
    .menu_link {
      text-decoration: none;
      font-weight:bold;
    }
  }
}
